In [1]:
!pip install scikit-surprise

Requirement already satisfied: scikit-surprise in /Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/lib/python3.9/site-packages (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in /Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/lib/python3.9/site-packages (from scikit-surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/lib/python3.9/site-packages (from scikit-surprise) (1.24.2)
Requirement already satisfied: scipy>=1.3.2 in /Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/lib/python3.9/site-packages (from scikit-surprise) (1.9.1)
WARNING: You are using pip version 21.2.4; however, version 23.1.1 is available.
You should consider upgrading via the '/Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/bin/python3 -m pip install --upgrade pip' command.

In [1]:
import pandas as pd

# Membaca Dataset Buku, Rating, dan Users

In [2]:
pd.options.display.max_colwidth = 100
buku = pd.read_csv("Books.csv")
buku.head(5)

/var/folders/g9/y5ld4t7d2yd9217nzzy3h3pr0000gn/T/ipykernel_2498/480639836.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  buku = pd.read_csv("Books.csv")

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0060973129.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0060973129.01.LZZZZZZZ.jpg
3,0374157065,Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0374157065.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0374157065.01.LZZZZZZZ.jpg
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0393045218.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0393045218.01.LZZZZZZZ.jpg

In [3]:
rating=pd.read_csv("Ratings.csv")
rating.head(5)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [4]:
user=pd.read_csv("Users.csv")
user.head(5)

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

# Mengevaluasi Dataset Buku

In [6]:
!pip3 install seaborn

Requirement already satisfied: seaborn in /Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/lib/python3.9/site-packages (0.12.2)
Requirement already satisfied: pandas>=0.25 in /Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/lib/python3.9/site-packages (from seaborn) (2.0.0)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/lib/python3.9/site-packages (from seaborn) (3.7.1)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/lib/python3.9/site-packages (from seaborn) (1.24.2)
Requirement already satisfied: pyparsing>=2.3.1 in /Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: contourpy>=1.0.1 in /Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: python-dateutil>=2.7 in /Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.5.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.3)
Requirement already satisfied: importlib-resources>=3.2.0 in /Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (5.12.0)
Requirement already satisfied: packaging>=20.0 in /Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/lib/python3.9/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.0)
Requirement already satisfied: zipp>=3.1.0 in /Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.1->seaborn) (3.15.0)
Requirement already satisfied: pytz>=2020.1 in /Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/lib/python3.9/site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/lib/python3.9/site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
WARNING: You are using pip version 21.2.4; however, version 23.1.1 is available.
You should consider upgrading via the '/Volumes/Kerja_Keras/Folder_Fold_Recovery/For Career/File Virtual Environtment/New_Venv/bin/python3 -m pip install --upgrade pip' command.

In [5]:
import seaborn as sns

In [6]:
buku.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [7]:
buku.shape

(271360, 8)

In [8]:
buku['ISBN'].value_counts()

ISBN
0195153448    1
0746008481    1
0395219906    1
043916169X    1
0879235322    1
             ..
1568303823    1
0525947612    1
207036819X    1
2877306127    1
0767409752    1
Name: count, Length: 271360, dtype: int64

In [9]:
buku['Year-Of-Publication'].unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', 'DK Publishing Inc', '1943', '1938',
       '1900', '1942', '1923', '1920', '1933', 'Gallimard', '1909',
       '1946', '2008', '1378', '2030', '1936', '1947', '2011', '2020',
       '1919', '1949', '1922', '1897', '2024', '1376', '1926', '2037'],
      dtype=object)

In [10]:
buku['Book-Title'].unique()

array(['Classical Mythology', 'Clara Callan', 'Decision in Normandy', ...,
       'Lily Dale : The True Story of the Town that Talks to the Dead',
       "Republic (World's Classics)",
       "A Guided Tour of Rene Descartes' Meditations on First Philosophy with Complete Translations of the Meditations by Ronald Rubin"],
      dtype=object)

In [11]:
buku['Book-Author'].unique()

array(['Mark P. O. Morford', 'Richard Bruce Wright', "Carlo D'Este", ...,
       'David Biggs', 'Teri Sloat', 'Christopher  Biffle'], dtype=object)

In [12]:
buku['Book-Author']=buku['Book-Author'].fillna("Anonim")

In [13]:
buku.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271360 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [14]:
buku['Book-Author']=buku['Book-Author'].replace(2000,'Anonim') #Mengubah elemen 2000 pada kolom book author menjadi anonim 
buku['Book-Author']=buku['Book-Author'].replace(2003,'Anonim') #Mengubah elemen 2003 pada kolom book author menjadi anonim
buku['Year-Of-Publication']=buku['Year-Of-Publication'].replace('DK Publishing Inc',2000) #Mengubah elemen 'DK Publishing Inc' Menjadi 2000
buku['Year-Of-Publication']=buku['Year-Of-Publication'].replace('Gallimard',2003) #Mengubah elemen 'Gallimard' menjadi 2003
buku['Publisher']=buku['Publisher'].replace('http://images.amazon.com/images/P/078946697X.01.THUMBZZZ.jpg','DK Publishing Inc') #Mengubah link menjadi penerbit buku
buku['Publisher']=buku['Publisher'].replace('http://images.amazon.com/images/P/0789466953.01.THUMBZZZ.jpg','DK Publishing Inc	') #Mengubah link menjadi penerbit buku

In [15]:
buku

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0195153448.01.LZZZZZZZ.jpg
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0002005018.01.LZZZZZZZ.jpg
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0060973129.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0060973129.01.LZZZZZZZ.jpg
3,0374157065,Flu: The Story of the Great Influenza Pandemic of 1918 and the Search for the Virus That Caused It,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0374157065.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0374157065.01.LZZZZZZZ.jpg
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0393045218.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0393045218.01.LZZZZZZZ.jpg
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0440400988.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0440400988.01.LZZZZZZZ.jpg
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0525447644.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0525447644.01.LZZZZZZZ.jpg
271357,006008667X,Lily Dale : The True Story of the Town that Talks to the Dead,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/006008667X.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/006008667X.01.LZZZZZZZ.jpg
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0192126040.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0192126040.01.LZZZZZZZ.jpg
271359,0767409752,A Guided Tour of Rene Descartes' Meditations on First Philosophy with Complete Translations of t...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.01.THUMBZZZ.jpg,http://images.amazon.com/images/P/0767409752.01.MZZZZZZZ.jpg,http://images.amazon.com/images/P/0767409752.01.LZZZZZZZ.jpg

# Mengevaluasi Dataset Rating

In [16]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [17]:
rating.shape

(1149780, 3)

# Mengevaluasi Dataset User

In [18]:
user=user[(user['Age']>=4)&(user['Age']<=79)] #Penghapusan data pengguna yang tidak sesuai dengan ketentuan
user['Age']=pd.to_numeric(user['Age']) #Konversi kolom usia menjadi numerik
user['Age']=user['Age'].astype(int)

# Membuat Program Sistem Rekomendasi

In [19]:
import surprise

In [20]:
reader = surprise.Reader(rating_scale=(0, 10))
data = surprise.Dataset.load_from_df(rating[['User-ID', 'ISBN', 'Book-Rating']], reader)

In [21]:
trainset, testset = surprise.model_selection.train_test_split(data, test_size=0.2)

In [22]:
model = surprise.SVD()

In [23]:
model.fit(trainset)

In [24]:
user_id = 276725 # contoh User-ID yang ingin direkomendasikan bukunya
user_books = rating[rating['User-ID'] == user_id]['ISBN']
books_to_recommend = buku[~buku['ISBN'].isin(user_books)]['ISBN']
predictions = [model.predict(user_id, book_id) for book_id in books_to_recommend]

In [25]:
recommendations = pd.DataFrame(predictions, columns=['uid', 'iid', 'r_ui', 'est', 'details'])
recommendations.sort_values(by='est', ascending=False, inplace=True)
top_5_books = recommendations.head(5)['iid'].values

In [27]:
print('Buku yang direkomendasikan:')
for i, book in enumerate(top_5_books):
    print(f'{i+1}. {buku[buku["ISBN"] == book]["Book-Title"].values[0]}')

Buku yang direkomendasikan:
1. Free
2. The Fellowship of the Ring (The Lord of the Rings, Part 1)
3. All I Need to Know I Learned from My Cat
4. Fox in Socks (I Can Read It All by Myself Beginner Books)
5. Frindle

# Program Memberikan Rekomendasi Buku -> User

In [28]:
isbn_try = 1568303823
isbn_books = rating[rating['ISBN']==isbn_try]['User-ID']
isbn_to_recommend = rating[~rating['User-ID'].isin(isbn_books)]['User-ID']
prediction1=[model.predict(isbn_try,user_ii) for user_ii in isbn_to_recommend]

recommendations1 = pd.DataFrame(prediction1,columns=['uid','iid','r_ui','est','details'])
recommendations1.sort_values(by='est',ascending=False,inplace=True)
top_5_user = recommendations1.head(5)['iid'].values

for i,user11 in enumerate(top_5_user):
    print(str(i+1)+str('.')+" "+str(user11))

1. 276725
2. 185233
3. 185233
4. 185233
5. 185233

In [ ]:
"""
import pandas as pd
import numpy as np
import surprise
import tensorflow as tf
from tensorflow import keras
from sklearn.preprocessing import MinMaxScaler

# Membaca data rating dari file CSV
rating = pd.read_csv('book_ratings.csv')

# Menentukan skala rating
reader = surprise.Reader(rating_scale=(0, 10))

# Memuat data rating ke dalam objek Dataset
data = surprise.Dataset.load_from_df(rating[['User-ID', 'ISBN', 'Book-Rating']], reader)

# Membagi data menjadi data latih dan data uji
trainset, testset = surprise.model_selection.train_test_split(data, test_size=0.2)

# Menggunakan model SVD untuk merekomendasikan buku
model = surprise.SVD()
model.fit(trainset)

# Menentukan buku yang akan direkomendasikan
isbn_try = 1568303823
isbn_books = rating[rating['ISBN']==isbn_try]['User-ID']
isbn_to_recommend = rating[~rating['User-ID'].isin(isbn_books)]['User-ID']

# Menghitung estimasi rating menggunakan model SVD
prediction = [model.predict(isbn_try, user_ii) for user_ii in isbn_to_recommend]

# Membuat DataFrame dari hasil prediksi
recommendations = pd.DataFrame(prediction, columns=['uid', 'iid', 'r_ui', 'est', 'details'])
recommendations.sort_values(by='est', ascending=False, inplace=True)

# Menampilkan top 5 buku yang direkomendasikan
top_5_user = recommendations.head(5)['iid'].values
for i, user11 in enumerate(top_5_user):
    print(str(i+1)+str('.')+" "+str(user11))

# Normalisasi data rating
scaler = MinMaxScaler()
rating_norm = scaler.fit_transform(rating[['User-ID', 'ISBN', 'Book-Rating']])

# Membagi data rating menjadi fitur (X) dan target (y)
X = rating_norm[:, :2]
y = rating_norm[:, 2]

# Membangun model DNN menggunakan TensorFlow-Keras
model = keras.Sequential([
    keras.layers.Dense(64, activation='relu', input_shape=(2,)),
    keras.layers.Dense(32, activation='relu'),
    keras.layers.Dense(1, activation='linear')
])
model.compile(optimizer='adam', loss='mse')

# Melatih model DNN dengan data rating yang telah dinormalisasi
model.fit(X, y, epochs=10, validation_split=0.2)

# Membuat fungsi untuk merekomendasikan buku menggunakan model DNN
def recommend_books(model, user_id):
    isbn_to_recommend = rating[~rating['User-ID'].isin(isbn_books)]['ISBN'].unique()
    user_id_arr = np.array([user_id] * len(isbn_to_recommend))
    isbn_arr = np.array(isbn_to_recommend)
    X = scaler.transform(np.column_stack((user_id_arr, isbn_arr)))
    y_pred = model.predict(X)
    recommendations = pd.DataFrame({'ISBN': isbn_to_recommend, 'estimated_rating': y_pred[:, 0]})
    recommendations.sort_values(by='estimated_rating', ascending=False, inplace=True)
    return recommendations.head(5)['ISBN'].values

# Merekomendasikan buku untuk pengguna baru menggunakan model DNN
user_id = 100
top_5_books = recommend_books(model, user_id)
for i, book in enumerate(top_5_books):
    print(str(i+1)+str('.')+" "+str(book))

"""